body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #7f7e86;
}

main {
    padding: 20px;
    background-color: #1f1f1f;
}

.section-bg {
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: #ffffff;
}

#workflow, #projects {
    max-width: auto;
    margin: 0 auto;
}

.step {
    background-color: rgba(31, 31, 31, 0.8);
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: #7f7e86;
}

.step h3 {
    margin-top: 0;
}

.step ul {
    padding-left: 20px;
}

footer {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5em;
    }

    .step {
        padding: 10px;
    }
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
